local.properties
.idea
*.iml
*.bat
android/build
android/.gradle
android/gradle
android/src/main/java/com/bmateam/reactnativeusbserial/ReactUsbSerialModule.java.backup
android/src/main/java/com/bmateam/reactnativeusbserial/ReactUsbSerialModule.java.backup*